# Active LLM Provider
ACTIVE_LLM_PROVIDER="mistral"

# Mistral LLM
MISTRAL_MODEL=mistral/codestral-latest
MISTRAL_API_KEY=your_mistral_api_key_here

# Jira Configuration
JIRA_API_TOKEN=your_jira_api_token_here
JIRA_EMAIL=your_email@example.com
JIRA_SERVER=https://your-domain.atlassian.net
