fastapi
uvicorn
python-multipart
pydantic
psycopg2-binary
qdrant-client
langchain
langchain-text-splitters
langchain-mistralai
langchain-community
docling
jira
python-dotenv
pandas
openpyxl
requests
ragas>=0.2.0
datasets
langchain-google-vertexai
prometheus-client
prometheus-fastapi-instrumentator
