# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Logs
logs/
*.log

# Data
input_documents/
output_documents/
eval_datasets/
*.csv
*.repaired

# SQLite / DBs
*.sqlite3
*.db

# Temp export
.git_export/
